[project]
	description = Distributed Storage System for QEMU
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhanghongzhou
[access "refs/for/refs/*"]
	read = group user/zhanghongzhou
	push = group user/zhanghongzhou
	label-Code-Review = -2..+2 group user/zhanghongzhou
	label-Verified = -1..+1 group user/zhanghongzhou
	rebase = group user/zhanghongzhou
	removeReviewer = group user/zhanghongzhou
	submit = group user/zhanghongzhou
[access "refs/heads/*"]
	read = group user/zhanghongzhou
	create = group user/zhanghongzhou
	push = +force group user/zhanghongzhou
	pushMerge = group user/zhanghongzhou
[access "refs/tags/*"]
	push = group user/zhanghongzhou
	push = +force group user/zhanghongzhou
